      <a href="#"><img src="images/collection_view1.jpg" alt="">монархия</a>
      <a href="#"><img src="images/collection_view2.jpg" alt="">монархия</a>
      <a href="#"><img src="images/collection_view3.jpg" alt="">монархия</a>
      <a href="#"><img src="images/collection_view1.jpg" alt="">монархия</a>
      <a href="#"><img src="images/collection_view2.jpg" alt="">монархия</a>
      <a href="#"><img src="images/collection_view3.jpg" alt="">монархия</a>
      <a href="#"><img src="images/collection_view1.jpg" alt="">монархия</a>
      <a href="#"><img src="images/collection_view2.jpg" alt="">монархия</a>
      <a href="#"><img src="images/collection_view3.jpg" alt="">монархия</a>
      <a href="#"><img src="images/collection_view2.jpg" alt="">монархия</a>
      <a href="#"><img src="images/collection_view3.jpg" alt="">монархия</a>
      <a href="#"><img src="images/collection_view3.jpg" alt="">монархия</a>