{% extends this.layout %}

{% block breadcrumbs %}
	{% widget('zii.widgets.CBreadcrumbs',{'links':{'Коллекции':['index'],0:'добавление'}}) %}
{% endblock %}

{% block bigColumn %}

	<h1>Добавление коллекции</h1>

	{{ this.renderPartial('_form',{'model':model}) }}

{% endblock %}

{% block sidebar %}
	{% set menu=[{'label':'К списку коллекций','url':['index']}] %}
	{% beginWidget('zii.widgets.CPortlet',{'title':'Действия'}) %}
		{% widget('zii.widgets.CMenu',{'items':menu,'htmlOptions':{'class':'operations'}}) %}
	{% endWidget %}
{% endblock %}