{% extends this.layout %}
{% block breadcrumbs %}
	{% widget('zii.widgets.CBreadcrumbs',{'links':['Админка']}) %}
{% endblock %}

{% block bigColumn %}
    <p>Воспользуйтесь меню для навигации по разделам.</p>
{% endblock %}