{% extends this.layout %}
{% block content%}


<section>
    		<p id="page-name">Онлайн сервис</p>
			<a class="btn">КОМПАНИЯ STDIAMOND</a>
			<a class="btn">ХРАНЕНИЕ УКРАШЕНИЙ</a>   
			<a class="btn">РЕМОНТ И ЧИСТКА</a>
			<a class="btn">НА КАЖДЫЙ ДЕНЬ</a>
			<a class="btn">ВАЖНО ЗНАТЬ</a>
			<a class="btn">ДОСТИЖЕНИЯ</a>
			<div id="awards-text">
				<p>Компания STDIAMOND основана в 2003 году как совместный бельгийско - украинский проект со штаб-квартирой в г. Антверпен, Бельгия. Производственные мощности находятся в Киеве. Компании STDIAMOND принадлежат авторские права на представленные ювелирные украшения, зарегистрированы патенты на полезные модели, разработаны, запатентованы и внедрены изобретения на способы изготовления ювелирных украшений с применением современнейших технологий ювелирного искусства, отмеченные новизной мирового уровня.  </p>
<p>Изделия компании соответствуют наивысшим европейским стандартам и полностью передают характер бельгийской части бренда STDIAMOND. Изделия STDIAMOND выпускаются лимитированными сериями и удивляют своим разнообразием любителей прекрасного.  </p>

<p>Сеть моно-брендовых бутиков представлена в Киеве, Одессе, Донецке, Днепропетровске, Львове и Симферополе. Разработана партнерская программа для представителей STDIAMOND в других городах Украины. </p> 

<p>Компания STDIAMOND разработала дисконтную систему, основанную на индивидуальном подходе к каждому клиенту, и придерживается гибкой ценовой политики.
Адреса бутиков STDIAMOND</p>
				<img src="{{Yii.baseUrl(true)}}/images/clean.png" alt=""><br>
				<div class="section" id="save">
					<p class="header" id="hran">Хранение украшений</p>
					<ul>
						<li>Хранить ювелирные украшения лучше в специальных футлярах.</li>
						<li>При покупке каждое украшение STDIAMOND укладывается в ювелирную коробочку. Мы рекомендуем вам использовать эту коробочку для его хранения.</li>
						<li>Украшения не следует класть неупакованными в одну шкатулку – это может привести к появлению царапин на них.</li>
					</ul>
				</div>
				<div class="section" id="mod">
					<p class="header" id="dost">Достижения</p>
					<ul>
						<li><img src="{{Yii.baseUrl(true)}}/images/cert1.png" alt="">Компания STDIAMOND в лице главного художника Татьяны Ракши удостоена премии THE GOLDEN A'DESIGN в категории "Дизайн Ювелирных и Часовых Изделий" во всемирном конкурсе A'DESIGN AWARD & COMPETITION Milan / Italy.</li>
						<li><img src="{{Yii.baseUrl(true)}}/images/cert3.png" alt="">На очередной церемонии награждения Annual Wedding Awards Свадебный Delux, ювелирный бренд STDIAMOND был признан лучшим в номинации «Свадебные кольца-2013».</li>
						<li><img src="{{Yii.baseUrl(true)}}/images/cert2.png" alt="">Компания STDIAMOND признана лучшим брендом в категории "Обручальные кольца 2013" на специализированной выставке-презентации "Свадьба мечты", которая состоялась 7 апреля 2013г. в «Menorah Grand Palace» в г.Днепропетровске.</li>
					</ul>
				</div>
			</div>
			
	</section>
{% endblock %}

