{% extends this.layout %}
{% block content%}


<section>
    		<p id="page-name">Другие проекты</p>
			<ul id="proj-list">
				<li>
					<a href="#">
						<img src="{{Yii.baseUrl(true)}}/images/prj1.png" alt="">
						<span>Арт проект <br>"Кольца"</span>
					</a>
				</li>
				<li>
					<a href="#">
						<img src="{{Yii.baseUrl(true)}}/images/prj2.png" alt="">
						<span>Украшения</span>
					</a>
				</li>
				<li>
					<a href="#">
						<img src="{{Yii.baseUrl(true)}}/images/prj3.png" alt="">
						<span>Программа <br>"Хеппипипл"</span>
					</a>
				</li>
				<li>
					<a href="#">
						<img src="{{Yii.baseUrl(true)}}/images/prj4.png" alt="">
						<span>Проект <br>"Нас 50 миллионов"</span>
					</a>
				</li>
			</ul>
	</section>
{% endblock %}

